{% extends "mainTemplate.html" %}
{% block content %}

<div class="spacer layer1"></div>
<section class="backgrounddark">
    <h1>Polish.tech</h1>
    <p>Welcome to my website! If you are interested in any projects of mine, you can find them below.</p>
</section>
<div class="spacer layer2"></div>
<section class="backgroundlight">
    <h1>curves</h1>
    <p>Velit quis quas, placeat molestias modi cum voluptatibus soluta tenetur esse et totam nesciunt quae inventore culpa explicabo ipsum laboriosam voluptate similique incidunt, repellat veritatis alias at vitae provident? Dolor.</p>
</section>
<section>
    <h1>curves</h1>
    <p>Dolor et perferendis porro blanditiis placeat quia illo adipisci voluptates debitis, eos aut eveniet sequi repellendus temporibus excepturi, at dignissimos! Ratione tempore quis odio. Natus placeat non libero animi deserunt.</p>
</section>
<section>
    <h1>curves</h1>
    <p>Impedit adipisci quisquam vitae error in nobis eum optio nihil, reiciendis ea debitis corrupti dolor ab harum illo earum nisi? Labore nemo ab consequuntur dolore fugit debitis libero architecto recusandae?</p>
</section>
<section>
    <h1>curves</h1>
    <p>Ad nostrum, mollitia repellendus harum provident aliquid hic suscipit itaque quo, id optio, ducimus commodi ratione. Culpa architecto eum itaque animi eos, perferendis neque ipsa, maiores aspernatur ullam iure fuga!</p>
</section>
<section>
    <h1>curves</h1>
    <p>Illum nulla temporibus laudantium laboriosam molestias nihil aliquam commodi, voluptatum quisquam sequi labore quae dolores hic soluta! Impedit, ad voluptates explicabo, natus adipisci ipsam non, cumque quis eaque dicta excepturi!</p>
</section>
<section>
    <h1>curves</h1>
    <p>Quas sequi ab tempora amet nisi veritatis praesentium. Dolores accusamus quo ullam dolorum velit corrupti commodi, repellendus deserunt laboriosam minus. Dolores ullam minus voluptas, nihil beatae commodi repellat possimus soluta.</p>
</section>

{% endblock %}